/* 1) ELEMENTOS */
/* MOBILE */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  max-width: 100vw;
  min-width: 320px;
}

#wrapper {
  position: relative;
  margin: 4vw 4vw;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;

  margin-bottom: 40px;
}

#logo {
  flex-grow: 0;
  align-self: center;
  padding-top: 2px;
}

.logo-img {
  min-width: 160px;
  max-width: 215px;
  width: 55vw;
  height: auto;
  position: relative;
}

.work-drop {
  display: none;
}

/* navbar */
nav {
  flex-grow: 0;
}

nav div {
  display: inline-block;
}

nav div:last-child {
  display: none;
}

/* buttons */
button.accordion {
  cursor: default;
}

.ext-link {
  border-radius: 30px;
  border: solid #111 1px;
  padding: 10px 15px;
}

#about .ext-link {
  border: solid #fff 1px;
}

/*  */
/* PORTFOLIO */
#projects {
  margin: 0 auto;
}

#projects h1 {
  padding-top: 10px;
}

#projects h2 {
  padding-bottom: 20px;
  padding-top: 20px;
}

#Interactive {
  border-top: solid 1.5px #111;
}

#Editorial,
#Branding,
#Play {
  margin-top: 40px;
  border-top: solid 1.5px #111;
}

#projects .proj {
  padding-bottom: 20px;
}

#projects article p:first-of-type {
  margin-top: 20px;
}

#projects article p, #projects article ol, #projects article ul {
  padding: 0 20px 20px;
}

#projects article ol, #projects article ul {
  margin-left: 20px;
}

/* accordion */
.accordion {
  width: 100%;
  transition: 0.4s;
}

.panel {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

/* videos e img  */
.video-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.video-wrapper.flock {
  padding-top: 99.2%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  margin-bottom: 7px;
}

.video-wrapper.frameworks {
  padding-top: 56%;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#projects img {
  margin: 0 auto;
  max-width: 100%;
}

.panel img {
  margin-top: 5px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 20px;
  z-index: 103;
  width: 50px;
  height: 50px;

  padding: 15px;
  border-radius: 100%;
}

#myBtn img {
  width: 100%;
  height: auto;
}

/*  */
/* ABOUT */
#about {
  background-color: #111;
  color: rgba(255, 255, 255, 0.9);
}

#about body {
  background-color: #111;
  max-width: 100vw;
  min-width: 320px;

  margin: 80px 60px 60px;
}

#about .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#about .title {
  flex-grow: 1;
  padding-bottom: 40px;
}

#about .texto {
  flex-grow: 2;
}

#about h3 {
  padding-bottom: 20px;
  line-height: 125%;
  max-width: 500px;
}

#about #links {
  margin-top: 40px;
  display: flex;
}

#about .title .ext-link {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;
  font-size: 1rem;
  width: 50%;
  margin-right: 5px;
}

/*  */
/* CV */
#cv #content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#content #profile {
  flex-grow: 1;
  margin-top: 20px;
  margin-bottom: 3vw;

  position: sticky;
  width: 455px;
  display: flex;
}

#cv #profile-pic {
  flex-grow: 0;
  margin-right: 20px;
  align-self: start;
  position: relative;
}

#cv #profile-info {
  flex-grow: 0;
}

#cv #imgWrapper {
  position: relative;
  display: inline-block;
  align-items: center;
  left: 0;
  float: left;

  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;

  border: #000 1px solid;
}

#cv #imgWrapper img {
  position: relative;
  top: -60%;
  left: -20%;
  width: 140%;
}

#cv #contacts,
#about #contacts {
  display: flex;
  flex-direction: row;

  padding: 20px 0 40px;
}

#cv .contact,
#about .contact {
  padding-right: 15px;
}

#cv #container {
  flex-grow: 1;
  margin: 0 10px;
}

#cv .section {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;

  padding-bottom: 20px;
  border-top: solid 1px #111;
}

#cv .section h4 {
  flex-grow: 0;
}

#cv .section .floatRight {
  flex-grow: 5;
}

#cv .floatRight {
  max-width: none;
}

#cv article {
  padding-bottom: 40px;
}

#cv .section h4 {
  padding: 10px 0 20px;

  position: -webkit-sticky; /* Safari */
  position: sticky;
  text-transform: uppercase;
  padding-right: 0;
}

.floatRight:after,
h4:after {
  content: "";
  display: block;
  clear: both;
}

#cv article .description {
  padding-top: 15px;

  line-height: 125%;
  max-width: 500px;
}

#cv article ul li {
  line-height: 125%;
}

#cv article .data {
  padding-top: 15px;
  text-transform: uppercase;
  opacity: 0.35;
  font-size: 0.81rem;
}

#cv article #skills li {
  text-transform: uppercase;
}

#cv article h2 {
  font-weight: 500;
}

/* END OF MOBILE */

/* TABLET */
@media only screen and (min-width: 481px) {
  .logo-img {
    min-width: 200px;
    max-width: 215px;
    width: 33vw;
  }

  /* navbar */
  nav div:last-child {
    display: inline-block;
  }

  header {
    margin-bottom: 40px;
  }

  #projects h1 {
    padding-top: 20px;
  }

  .proj:first-child h2 {
    margin-top: 20px;
  }

  .caption {
    width: 60vw;
  }

  #myBtn {
    width: 55px;
    height: 55px;
    right: 2vw;
  }

  /*  */
  /* about */
  #about .title {
    max-width: 63vw;
    margin-right: 3vw;
    margin-bottom: 40px;
  }

  #about #links {
    margin-top: 40px;
  }

  #about .title h2 {
    min-width: 420px;
    max-width: 520px;
  }

  #about .texto h3 {
    min-width: 380px;
    padding-bottom: 40px;
  }

  #about .title .ext-link {
    min-width: 160px;
    width: 30%;
    margin-right: 10px;
  }

  /*  */
  /* CV */
  #cv #container {
    margin: 0;
  }

  #cv .section {
    padding: 40px 0;
    flex-flow: nowrap;
  }

  #cv article {
    padding-bottom: 60px;
  }

  #cv article .description {
    padding-top: 20px;

    line-height: 125%;
    max-width: 500px;
  }

  #cv article .data {
    padding-top: 20px;
  }

  #cv .section .floatRight {
    max-width: 80vw;
  }

  #cv .section h4 {
    width: 120px;
    margin-right: 20px;
    padding: 3px 0;
  }

  #cv h4.skills-ttl {
    padding: 0;
  }

  #cv #profile-pic {
    min-width: 120px;
  }

  #cv #profile-info {
    padding-top: 15px;
  }

  #cv #profile #contacts {
    padding: 40px 0;
  }

  #cv #profile-pic {
    margin-right: 0;
  }

  #cv #profile #imgWrapper {
    width: 90px;
    height: 90px;
  }
}
/* END OF TABLET */

/* DESKTOP ou MOBILE:LANDSCAPE */
@media only screen and (min-width: 1025px),
  only screen and (min-width: 481px) and (max-width: 1025px) and (orientation: landscape) {
  /* carrosel */
  /* nowrap */

  footer {
    margin-top: 10vh;
  }

  header {
    margin-bottom: 60px;
  }

  /* navbar */
  #pc-navbar {
    display: block;
    overflow: hidden;
    width: auto;
    flex-grow: 1;
    align-self: center;
    padding-left: 20px;
  }

  #pc-navbar a,
  #pc-navbar button {
    text-align: center;
  }

  /* selected work */
  .work-drop {
    display: initial;
  }

  /* whole */
  .work-drop {
    overflow: hidden;
    height: 50px;
  }

  .work-btn {
    /* align-self: center;
    flex-grow: 0; */
  }
  /* categories */
  .work-content {
    display: inline-block;
    z-index: 1;

    opacity: 0;
    transition: opacity ease 2s, left 1s;
  }

  .work-content a {
    padding: 0 1.5vw;
    display: none;
    text-decoration: none;
  }

  /* hover triggers */
  .work-drop:hover {
    width: 45vw;
  }
  .work-drop:hover .work-content {
    opacity: 1;
  }
  .work-drop:hover .work-content a {
    display: inline-block;
  }
  .work-content a:hover {
    color: #999;
  }
  #pc-navbar a:hover,
  .work-drop:hover .work-btn {
    color: #999;
  }

  /* AJUSTES categories */
  .work-content {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    top: 12px;
    margin-left: 120px;
  }

  .work-content a {
    padding: 0;
  }

  .work-btn {
    margin-left: 20px;
  }

  #Interactive {
    margin-top: 20px;
    border-top: solid 1.5px #111;
  }

  #Editorial,
  #Branding,
  #Play {
    margin-top: 90px;
    border-top: solid 1.5px #111;
  }

  .proj {
    padding-bottom: 40px;
  }

  #projects h2 {
    padding-top: 40px;
    display: inline-block;
  }

  /* positioned */
  #projects .carrossel-section {
    display: block;
    position: relative;
  }
  /* caroussel */
  #projects .row {
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  #projects .row::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .row {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  #projects .panel {
    transition: none;
    height: 100%;
    white-space: nowrap;
    overflow: visible;
    display: inline-block;
  }

  /* items inside row */
  #projects .row-item {
    display: inline-block;
    height: 433px;
    width: auto;
    vertical-align: top;
    padding-left: 20px;
    margin-left: -5px;

    background-color: #fff;
  }

  #projects .row-item img {
    height: 433px;
    width: auto;
  }

  #projects .panel img {
    margin-top: 0;
  }

  #projects .row-video {
    display: inline-block;
    height: 433px;
    vertical-align: top;
    padding-left: 20px;
    background-color: #fff;
    margin-left: -6px;
    /* identify width, 1x1 */
    width: 458px;
  }

  #projects .row-video.frameworks {
    width: 793px;
  }

  #projects .row-video.frameworks .video-wrapper {
    padding-top: 56%;
  }

  /* show caption */
  #projects .accordion.row-item {
    width: auto;
    margin-left: 0;
    background: none;
    transition: padding-left 0.4s;
    padding-left: 0;
  }
  #projects .accordion:hover,
  #projects .accordion.active {
    padding-left: 450px;
  }

  #projects .caption {
    display: block;
    width: 380px;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 20px;
    white-space: normal;
  }

  #projects article p:first-of-type {
    margin-top: 0;
}
}
/* END OF DESKTOP ou MOBILE:LANDSCAPE */

/* ajustes DESKTOP */
@media only screen and (min-width: 1025px) {
  /* AJUSTES categories */
  .work-content {
    display: inline-block;
    position: relative;
    top: 0;
    margin-left: 0;
  }

  .work-content a {
    padding: 0 1.5vw;
  }

  .work-btn {
    margin-left: 20px;
  }
}
/* END OF ajustes DESKTOP */

/* MOBILE:LANDSCAPE */
@media only screen and (min-width: 374px) and (max-width: 735px) and (orientation: lanscape) {
}

/* 2) TIPOGRAFIA */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

html,
body {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  color: #111;
  font-size: 18px;
  line-height: 1.15;
}

#about {
  color: rgba(255, 255, 255, 0.9);
}

#about a {
  color: rgba(255, 255, 255, 0.9);
}

h1 {
  font-size: 1.66rem;
  font-weight: 400;
}

h2 {
  font-size: 1.33rem;
  font-weight: 400;
  line-height: 120%;
}

h3 {
  font-size: 1.16rem;
  font-weight: 400;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

p,
p a {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
}

.grey {
  opacity: 0.35;
}

a {
  text-decoration: underline;
  color: #111;
}

strong {
  font-weight: 600;
}

footer p {
  font-size: 1rem;
  font-weight: 400;
}

footer a {
  font-size: 1rem;
  font-weight: 400;
  color: #111;
  text-decoration: underline;
}

button {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  cursor: pointer;

  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

ol {
  list-style-type: decimal;
}

.hover {
  text-decoration: none;
}

.hover:active,
.hover:hover {
  text-decoration: underline;
}

/* ABOUT */
#about .title {
  font-size: 1.33rem;
}

@media only screen and (min-width: 481px) {
  h1 {
    font-size: 2.66rem;
  }

  h2 {
    font-size: 1.66rem;
  }

  h3 {
    font-size: 1.33rem;
  }

  strong {
    font-weight: 500;
  }
  

  /* ABOUT */
  #about .title {
    font-size: 1.33rem;
  }

  #projects footer p,
  #projects footer a {
    font-size: 1.33rem;
  }
}
